<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6MZg4N96_h1JWuThbGdhGRpN2muxpz6o</string>
	<key>GCM_SENDER_ID</key>
	<string>903745139754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.venue</string>
	<key>PROJECT_ID</key>
	<string>event-hall-booking-b6acb</string>
	<key>STORAGE_BUCKET</key>
	<string>event-hall-booking-b6acb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903745139754:ios:be21545ced810f8e86ff53</string>
</dict>
</plist>